.sort_results_dropdown select {
  background-color: #fff;
  border: none;
  color: #3a3a3a;
}
.sort_results_dropdown select:focus {
  box-shadow: unset;
}
.search_results_tabs_container .nav-tabs {
  background-color: #f8f9fb;
  border: 1px solid #dee2e6;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  padding: 1rem 1rem 0 1rem;
}

.search_results_tabs_container .nav.nav-tabs .nav-link {
  color: #7d8184;
  font-weight: 500;
  border-radius: 0;
  text-transform: uppercase;
}

.search_results_tabs_container .nav.nav-tabs .nav-link.active {
  color: #000;
  background-color: #fff;
}

.search_results_tabs_container .nav.nav-tabs .nav-link:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0;
}

@media only screen and (max-width: 922px) {
  .search_results_tabs_container .nav.nav-tabs {
    justify-content: center;
  }
  .search_results_tabs_container .nav.nav-tabs .nav-link.active {
    border-color: #dee2e6 #dee2e6 #fff;
  }
}

.search_results_tabs_container .tab-content {
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}
