@import "bootstrap/dist/css/bootstrap.min.css";

/* Search Form */

.form-label {
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.form-control {
  border-radius: 0 !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(79 82 211 / 25%);
}

/* Custom btn */

.black_btn {
  width: 100%;
  padding: 1rem;
  border-radius: 0;
  background-color: #000;
  border: 0;
}

.black_btn:hover {
  background-color: #000;
}
