@import "bootstrap/dist/css/bootstrap.min.css";
@import "./components/slick-carousel/slick.min.css";
@import "./components/slick-carousel/slick-theme.min.css";
/* Search Form */

.form-label {
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.form-control {
  border-radius: 0 !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #1e1f21;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(79 82 211 / 25%);
}

/* Custom btns */

.black_btn,
.indigo_btn,
.gray_btn {
  width: 100%;
  padding: 1rem;
  border-radius: 0;
  border: 0;
}

.black_btn {
  background-color: #1e1f21;
}
.gray_btn {
  background-color: #f1f2f4;
}

.black_btn:hover,
.gray_btn:hover {
  background-color: #4f52d3;
}
.gray_btn:hover {
  color: #fff;
}

.indigo_btn {
  background-color: #4f52d3;
}
.indigo_btn:hover {
  background-color: #1e1f21;
}
